name: demo
on: workflow_dispatch
jobs: 
     build:
          runs-on: ubuntu-latest
          steps:
           - name: Checkout Repo
             uses: actions/checkout@v4
           - name: message
             run: |
              echo "Welcome - GitHub Actions learning"
              ls -lart
              cat README.md
         
